In [1]:
import pandas as pd

In [17]:
old_fh = "../files/shipments/2023-11-10/nyp_20231110_google-OLD-barcodes.csv"
new_fh = "../files/shipments/2023-11-10/nyp_20231110_google_barcodes.csv"

In [11]:
odf = pd.read_csv(old_fh, names=["barcode"], header=0, sep="\t")

In [12]:
odf.shape[0]

5839

In [13]:
odf.head(2)

          barcode
0  33433109942999
1  33433109943013

In [22]:
ndf = pd.read_csv(new_fh, names=["barcode"], header=0, sep="\t")

In [23]:
ndf.shape[0]

6069

In [24]:
ndf.head(2)

          barcode
0  33433109942999
1  33433109943013

In [30]:
df = pd.merge(ndf, odf, how="outer", on="barcode", indicator=True)

In [31]:
df.shape[0]

6213

In [32]:
df.head()

          barcode _merge
0  33433016839395   both
1  33433016840864   both
2  33433016840880   both
3  33433016840898   both
4  33433016840906   both

In [33]:
new_only = df[df["_merge"] == "left_only"]

In [34]:
new_only.shape[0]

374

In [35]:
hathi_remove = df[df["_merge"] == "right_only"]

In [36]:
hathi_remove.shape[0]

144

In [38]:
hathi_remove.to_csv("../files/shipments/2023-11-10/hathi-20231110-DELETE.csv", index=False, columns=["barcode"])

In [40]:
stubs_fh = "../files/shipments/2023-11-10/nyp_20231110_url_stubs-OLD-barcodes.csv"

In [41]:
sdf = pd.read_csv(stubs_fh, names=["barcode"], header=0, sep="\t")

In [42]:
sdf.shape[0]

5839

In [47]:
mdf = pd.merge(sdf, new_only["barcode"], how="outer", on="barcode", indicator=True)

In [48]:
mdf.head(2)

          barcode     _merge
0  33433016839395  left_only
1  33433016840864  left_only

In [49]:
missing_stubs = mdf[mdf["_merge"] == "right_only"]

In [50]:
missing_stubs.head(2)

            barcode      _merge
121  33433065547436  right_only
240  33433077807034  right_only

In [51]:
missing_stubs.shape[0]

374

In [53]:
missing_stubs.to_csv("../files/shipments/2023-11-10/missing_stubs_20231110.csv", index=False, columns=["barcode"])